.event-card {
    padding: 50px;
    margin: 10px;
    background-color: rgb(13, 146, 88);  
    border-radius: 10px;
}
.event-card:hover {
    background-color: rgb(16, 187, 113);  
}

.event-card-links {
    color: white;
    text-decoration: none;
}

.event-card-img {
    width: 500px;
}
.event-title {
    display: flex;
    text-align: left;
    font-size: 24px;
}

@media only screen and (max-width: 440px) {
    .event-card-img {
        width: 250px;
    }
}