.user-card {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin: 10px;
    background-color: rgb(13, 108, 146);  
    border-radius: 10px;
    align-items: center;
}

.user-card-links {
    color: white;
    text-decoration: none;
}

.user-card:hover {
    background-color: rgb(18, 144, 194);      
}
.user-avatar {
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    border: 5px solid rgb(6, 68, 92);
}
.user-title {
    font-size: 24px;
}

.info {
    text-align: left;
    border: 5px solid rgb(6, 68, 92);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.info-label {
    font-weight: bold;
    color: rgb(6, 68, 92);
}