.user-card-container {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(9, 85, 114);      
}
.user-card {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin: 10px;
    background-color: rgb(13, 108, 146);  
    border-radius: 10px;
    align-items: center;
}

.user-card-inner {
    justify-content: start;
}
.user-card-links {
    color: white;
    text-decoration: none;
}

.user-card:hover {
    background-color: rgb(18, 144, 194);      
}
.user-avatar {
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    border: 5px solid rgb(6, 68, 92);
}
.user-title {
    width: fit-content;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(9, 85, 114);    
}

.info {
    text-align: left;
    border: 5px solid rgb(6, 68, 92);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.info-label {
    font-weight: bold;
    color: rgb(6, 68, 92);
}

.delete-button {
    background-color: rgb(191, 6, 6);
    margin-left: auto; 
    margin-right: 0;
    width: 40%;
    padding: 5px;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: rgb(210, 44, 44);
}
