.main-nav {
    position: absolute;
    background: #536383;
    width: 100%;
    padding: 15px;
    z-index: 2;
}
.nav-links {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #282c34;
}

.nav-links:visited {
    text-decoration: none
}

.nav-links:hover {
    background:#404858
}
